
    
    /* img{   
        display: block;
        margin: 0px auto;
        margin-top: 10%;
        margin-left: 33%;
       } */

       .SignUpImage{
        display: block;
        margin: 0px auto;
        margin-top: 40px;
        margin-left: 33%;
       }

       .SignInImage{
        display: block;
        margin: 0px auto;
        
        
       }

    .input-form {
        margin-top: 3%;
        margin-bottom: 3%;

       max-width: 70%;
        padding: 32px; 
       background: #fff;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) 
    }  

    .btn {
        
        border-radius: 20px;
        border: 1px solid #3a5fd7;
        background-color: #1b71e1;
        color: #FFFFFF;
        font-size: 17px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        
    }


    .modal-overlay2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
      }
      
      .modal2 {
        
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        width: 400px;
        padding: 24px;
        z-index: 100;
      }
      
      .modal-content2 {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      
      .modal-content2 h3 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
        
      }
      
      .modal-content2 input[type="text"] {
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      
      .modal-content2 button {
        padding: 12px 24px;
        background-color: #007ee5;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .modal-content2 button + button {
        margin-top: 8px;
      }

      .modalpass {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      }
      
      .modalpass h5 {
        margin-bottom: 20px;
        
        
      }
      
      .modalpass input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        margin-bottom: 10px;
      }
      
      .modalpass button {
        background-color: #007ee5;
        color: white;
        margin-left: 27px;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
        width: 40%; /* 원하는 너비로 조정하세요 */
        text-align: center;
      }
      
      .modalpass button:hover {
        background-color: #007ee5;
      }
      
      
      
      
      
      
